/* skelton loading */

.skeleton {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(270deg, #f3f2f1 0.84%, #edebe9 100%);
  background-size: 1000px 100%;
}

/* styles the rectangle varient */
.skeleton-rect {
  border-radius: none;
}

/* styles the circle varient */
.skeleton-circle:empty {
  border-radius: 100%;
}

/* styles the text varient */
.skeleton-text:empty {
  width: 100%;
  height: 9px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
